
body {
    text-align: center;
}

ol {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

img{ 
    width: 350px;
    height: 200px;
}

.albumer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    
}

.center_album {
    margin: 0 auto;
}
