#form-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: rgb(223, 236, 240);
    padding: 20px;
}

#form {
    margin-bottom: 20px;
}

#svar-container {
    display: flex;
    align-items: flex-start;
}

#bilde {
    margin-left: 20px;
    display: none;
}

#bilde img {
    max-width: 100%;
    height: auto;
    display: block;
}
