@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}

:root {
  --time: 7s;
}

body {
    background-color: red;
}
body.chill {
    transition: var(--time);
    background-color: #154D71;
    color: rgb(255, 255, 255);
}

main {
    max-width: 700px;
    margin: 20px auto;
    padding: 8px;
}

.top {
    text-align: center;
}

.buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 12px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    margin-block: 8px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
    background: linear-gradient(270deg,
            red,
            orange,
            yellow,
            green,
            blue,
            indigo,
            violet,
            red,
            orange,
            yellow,
            green,
            blue,
            indigo,
            violet);
    background-size: 200% 200%;

    transition: transform 0.2s ease;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    animation: rainbow 1s linear infinite;
}

button.chill {
    background: rgb(255, 255, 255);
    transition: background-color var(--time);
    color: rgb(0, 0, 0);
    border: none;
    text-shadow: none;
    box-shadow: 1px 1px rgb(0, 0, 0);
}


.imageList {
    display: flex;
    font-size: 12px;
    text-align: start;
    padding: 10px;
    border-radius: 5px;
    gap: -8px;
    max-width: 980px;
    flex-wrap: wrap;
    justify-content: center;
}

.imageList.chill {
    gap: 12px;
    transition: var(--time);
}

.imageBox {
    width: 300px;
    height: 400px;
    background-color: rgb(188, 66, 0);
    padding: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    color: black;
    font-size: 14px;
    border: 5px solid blue;
}
.imageBox.chill {
    background-color: rgb(255, 255, 255);
    border: none;
    transition: var(--time);
}

.imageDiv {
    overflow: hidden;
}

.imageDiv img {
    width: 350px;
}

#stuckPopup {
    background-color: rgba(255, 255, 255, 0.871);
    color: black;
    padding: 8px 16px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}